
*{
    margin: 0px autp;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background-color: #0d1117;
    color: #cacaca;
    line-height: 200%;
    margin: 20px;
}

header{
    color: #ebebeb;
}

a, a:hover{
    color: #58a6ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

hr{
    margin: 0px 0 10px;
    border: #30363d 1px solid;
}

h1{
    margin: 10px 0 5px;
}

footer img{
    margin: 10px;
}

nav{
    line-height: 110%;
}